html {
  font-family: "Lato", sans-serif;
  /*this font-hack makes the font responsive with a max & min*/
  font-size: calc(9.5px + .272vw);
}

/*header-styles v2******/

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  /*margin-left: 18.5rem;*/
  z-index: 3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 .5px 2.5px .1px rgba(0, 0, 0, .45);
}

nav.main {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  /*height: 4rem;*/
  z-index: 4;
}

nav.main > label.menu {
  cursor: pointer;
  /*font-size: 1.75rem;*/
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  top: 0;
  left: 0;
  z-index: 7;
  /*margin: 1rem 1rem;*/
  font-family: 'Lato', sans-serif;
  padding: 1.5rem 1rem 0 1rem;
  color: rgba(198, 54, 44, 1);
  font-weight: bold;
  font-size: 1.4rem;
  width: 8rem;
  /*border: 1px solid pink;*/
}


label.menu > svg.navicon {
  /*border: 1px solid pink;*/
  /*display: inline-block;*/
  width: 1.2rem;
  height: 1.2rem;
  fill: rgb(198, 54, 44,);
  margin-right: .3rem;
  /*padding: 1.5rem 1rem 0 1rem;*/
  /*color: black;*/
}

label.menu:hover {
  color: rgba(250, 59, 46, 0.9);
}

header > a {
  margin-right: 2rem;
  padding-right: 2rem;
}

h1 {
  font-family: 'Raleway', sans-serif;
  /*font-variant: small-caps;*/
}


div.social {
  width: 6rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  /*align-self: flex-end;*/
  color: rgba(198, 54, 44, .9);
  /*border: 1px solid pink;*/
  height: 4rem;
  margin-right: 3rem;
}

a.social {
  font-size: 1.5rem;
}

a.social:hover {
  color: rgba(250, 59, 46, 0.9);
}

h1.logo {
  /*position: fixed;
    top: 1rem;
    right: 1rem;*/
  /*display: inline-block;*/
  display: flex;
  align-items: center;
  height: 4rem;
  font-family: 'Allura', 'Garamond', cursive;
  /*letter-spacing: .135rem;*/
  text-align: center;
  font-size: 2.15rem;
  font-weight: bold;
  color: rgba(198, 54, 44, 1);
  /*margin-top: 5rem;*/
  padding: 0 2rem;
  margin-right: 2rem;
  cursor: pointer;
  /*border: 1px solid hotpink;*/
}

h1.logo:hover {
  color: rgba(250, 59, 46, 0.9);
}

/*end-header-styles******/


div.main-img {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 60vh;
  width: 100%;
  background-image: url("/photos/contact/contact02-1920x1280.jpeg");
  background-size: cover;
  background-position: center;
  color: #fff;
}

section.main-info {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  /*margin-bottom: 2rem;*/
}

div.main-info {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  /*padding-top: 2rem;*/
  top: -10vh;
  height: 32.5vh;
  width: 70%;
  /*border: 1px solid pink;*/
  background-color: #f1f1f1;
  /*opacity: .95;*/
  box-shadow: .5px 1px 2.5px .5px rgba(0, 0, 0, .45);
  border-radius: 2px;
  color: rgba(198, 54, 44, 1);
}

div.main-info h1 {
  font-size: 3rem;
  /*color: rgba(198, 54, 44, 1);*/

}

div.c-info {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  font-size: 2rem;
}

div.c-info i {
  margin-right: 4rem;
}



/*footer v2*/

footer {
  font-size: .8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100%;
  color: #665;
}

a.social-link {
  padding: 1rem;
  font-size: 1rem;
  margin-left: 1rem;
}

div.footwrap {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, .25);
  padding: 1.25rem 0 1.25rem 0;
}

div.copy {
  padding-left: 1rem;
}


div.credit a {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {

  /*header-styles v2******/

  nav.main {
    height: 4rem;
    width: 25%;
    align-items: center;
    /*border: 1px solid pink;*/
  }

  nav.main > label.menu {
    justify-content: flex-start;
    align-items: center;
    left: 0;
    padding: 0 0 0 5px;
    height: 4rem;
  }

  header > a {
    margin-right: 0;
    padding-right: 0; /**/
  }

  a.gohome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 50%;
    align-self: center;
  }

  h1 {
    font-family: 'Raleway', sans-serif;
  }

  h1.logo {
    font-size: 2.35rem;
  }


  div.social {
    width: 25%;
    justify-content: flex-end;
    margin-right: 0; /**/
  }

  a.social {
    font-size: 1.75rem;
    padding-right: 2.5rem; /**/
  }

  h1.logo {
    padding: 0 0; /**/
    margin-right: 1rem;
  }

  /*end-header-styles******/
}
