/*media query at bottom*/


/*Menu System................................................*/

/*
moved to atf.css for each page
input[type="checkbox"] {
    display: none;
    position: absolute;
}
*/

/*remove this after adjustments*/
input[type="checkbox"] {
    display: none;
    position: absolute;
}


div.menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  overflow: hidden;
  height: 75%;
  width: 65%;
  background-color: rgba(235, 235, 235, 0.95);
  border-radius: .25rem;
  /*overflow-y: auto;*/
}

div.skin {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  height: 10%;
}

label {
  margin: 0;
  text-align: center;
  border: 0;
  /*padding: .5rem 0;*/
}

a.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7%;
  color: rgba(163, 161, 161, 1);
  /*border: 1px solid hotpink;*/
}

a.home:hover {
  color: white;
  stroke: black;
  stroke-width: 1px;
}

svg.home {
  height: 2.3rem;
  width: 2.3rem;
}

label[for="show-products"] {
  width: 14.33%;
  /*margin-left: 1rem;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

label[for="show-learn"], label[for="show-events"], label[for="show-about"], label[for="show-membership"], label[for="show-contact"] {
  width: 14.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

label[for="show-menu"] {
  width: 7%;
}

div.skin > label {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1rem 0;
  color: #999;
  cursor: pointer;
  height: 100%;
  margin: 0 auto;
  /*border: 1px solid hotpink;*/
}


/*current selected radio button label*/
input#show-products:checked ~ div.skin label[for="show-products"],
input#show-membership:checked ~ div.skin label[for="show-membership"],
input#show-learn:checked ~ div.skin label[for="show-learn"],
input#show-events:checked ~ div.skin label[for="show-events"],
input#show-about:checked ~ div.skin label[for="show-about"],
input#show-contact:checked ~ div.skin label[for="show-contact"] {
  background-color: #ccc;
  font-weight: bold;
  /*color: #ddd;*/
  color: rgba(250, 59, 46, 1);
}

div.skin > label:hover {
  color: rgba(250, 59, 46, 1);
  font-weight: bold;
}

label.close {
  display: flex;
  justify-content: center;
  align-items: center;
}

label.close[for="show-menu"]:hover {
  color: white;
  stroke: black;
  stroke-width: 3px;
}

svg.close {
  height: 1.6rem;
  width: 1.6rem;
}



#dropdown {
    /* toggle */
    position: fixed;
    top: -200vh;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* formatting */
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: .35s;
    z-index: 2;
}


label.chevron {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  color: rgba(255, 255, 255, 0.95);
  height: 3rem;
  width: 5rem;
  margin-bottom: .5rem;
}

label.chevron:hover {
  cursor: pointer;
}

svg.chevron {
  height: 3rem;
  width: 3rem;
}

input[type="checkbox"]:checked ~ #dropdown {
    /* toggle */
    top: 0;
}


div.products,
div.membership,
div.learn,
div.events,
div.about,
div.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 90%;
  left: -100%;
  background-color:  #ccc;
}

div.menu-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


a.temp {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  border-radius: .5rem;
  height: 85%;
  width: 90%;
  font-size: 2rem;
  border: 4px solid rgba(250, 59, 46, 1);
  padding: 1rem 0;
  background-color: #ccc;
  /*color: #ddd;*/
  color: rgba(250, 59, 46, 1);
}



a.temp h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin: 1rem 0 2rem 0;*/
  font-size: 4rem;
  /*font-weight: bold;*/
  height: 25%;
  /*border: 1px solid grey;*/
}

div.shell {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*margin: 1rem 2rem 2rem 2rem;*/
    /*padding-bottom: 4rem;*/
    width: 80%;
    height: 75%;
    /*border: 1px solid grey;*/
}

div.shell i {
  font-size: 11rem;
  color: inherit;
  margin: 1rem 2rem 2rem 2rem;
}

div.shell i.icon-information {
  font-size: 16rem;
  color: inherit;
}

div.shell i.icon-user
{
  font-size: 13rem;
  color: inherit;
}

div.shell i.icon-key {
  padding-top: 2rem;
  font-size: 10rem;
  color: inherit;
  /*decreases stroke for fontawesome*/
  /*-webkit-text-stroke: 3px rgba(235, 235, 235, 0.95);*/
}

/*testing..........................*/

div.products {
  /*background-color: lightblue;*/
  order: 2;
  left: 0;
}
div.membership {
  /*background-color: lightpink;*/
  order: 3;
}

div.contact {
  /*background-color: lightpink;*/
  order: 3;
}
div.about {
  /*background-color: gray;*/
  order: 3;
}
div.events {
  /*background-color: firebrick;*/
  order: 3;
}
div.learn {
  /*background-color: lightyellow;*/
  order: 3;
}

/*end testing........................*/



input[type="radio"] {
    display: none;
    position: absolute;
}

input#show-products[type="radio"]:checked ~ #products {
    left: 0;
}

input#show-membership[type="radio"]:checked ~ #membership,
input#show-learn[type="radio"]:checked ~ #learn,
input#show-events[type="radio"]:checked ~ #events,
input#show-about[type="radio"]:checked ~ #about,
input#show-contact[type="radio"]:checked ~ #contact {
    order: 1;
    left: 0;
}






/*Media Queries for Drop Menu*********************/

/*smaller screens*/
@media screen and (max-width: 1100px)
{

  div.menu{
    height: 85%;
    width: 90%;
  }

  div.skin > label {
    font-size: 1.10rem;
  }

  div.products,
  div.membership,
  div.learn,
  div.events,
  div.about,
  div.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 90%;
    left: -100%;
    background-color:  #ccc;
  }

  div.menu-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 90%;
    background-color: #ccc;
    /*border: 1px solid blue;*/
  }

  a.temp {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    border-radius: .5rem;
    height: 100%;
    /*height: 100%;*/
    width: 100%;
    font-size: 2rem;
    color: rgba(250, 59, 46, 1);
    padding: 1rem 0;
    background-color: #ccc;
    /*color: #ddd;*/
  }



  a.temp h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin: 1rem 0 2rem 0;*/
    font-size: 3.5rem;
    /*font-weight: bold;*/
    height: 25%;
    /*border: 1px solid grey;*/
  }

  div.shell {
      display: flex;
      justify-content: space-around;
      align-items: center;
      /*margin: 1rem 2rem 2rem 2rem;*/
      /*padding-bottom: 4rem;*/
      width: 90%;
      height: 75%;
      /*border: 1px solid grey;*/
  }

  div.shell i {
    font-size: 9rem;
    color: inherit;
    margin: 1rem 2rem 2rem 2rem;
  }

  div.shell i.icon-information {
    font-size: 13rem;
    color: inherit;
  }

  div.shell i.icon-user
  {
    font-size: 11rem;
    color: inherit;
  }

  div.shell i.icon-key {
    padding-top: 2rem;
    font-size: 8.5rem;
    color: inherit;
    /*decreases stroke for fontawesome*/
    /*-webkit-text-stroke: 3px rgba(235, 235, 235, 0.95);*/
  }

}

/*small window height*/
@media screen and (max-height: 500px)
{
  svg.close {
    height: 1.6rem;
    width: 1.6rem;
  }
  svg.home {
    height: 1.6rem;
    width: 1.6rem;
  }
}



/*End-Menu System...............................................................*/
