/*media query at bottom*/


/*Menu System................................................*/



div.menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
}


div.menu {
  height: 70vh;
  width: 65vw;
  /*background-color: rgba(210, 197, 215, 0.975);*/
  background-color: rgba(235, 235, 235, 0.95);
  border-radius: .25rem;
}

label {
  /*display: inline-block;*/
  margin: 0;
  text-align: center;
  border: 0;
  /*padding: .5rem 0;*/
}

a.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7%;
  color: rgba(163, 161, 161, 1);
  /*border: 1px solid hotpink;*/
}

a.home:hover {
  color: white;
  stroke: black;
  stroke-width: 1px;
}

svg.home {
  height: 2.3rem;
  width: 2.3rem;
}

label[for="show-products"] {
  width: 14.33%;
  /*margin-left: 1rem;*/
}

label[for="show-learn"], label[for="show-events"], label[for="show-about"], label[for="show-membership"], label[for="show-contact"] {
  width: 14.33%;
}

label[for="show-menu"] {
  width: 7%;
  /*width: 3.5rem;*/
  /*margin-right: 1rem;*/
}

div.menu > label {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1rem 0;
  color: rgba(163, 161, 161, 1);
  cursor: pointer;
  /*border: 1px solid hotpink;*/
}

/*current selected radio button label*/
div.menu > input:checked + label {
  color: rgba(250, 59, 46, 0.9);
  font-weight: bold;
  background-color: #ddd;
}

div.menu > label:hover {
  color: rgba(250, 59, 46, 0.9);
  font-weight: bold;
}

label.close[for="show-menu"]:hover {
  color: white;
  stroke: black;
  stroke-width: 3px;
}

svg.close {
  height: 1.6rem;
  width: 1.6rem;
}


input[type="checkbox"] {
    display: none;
    position: absolute;
}




#dropdown {
    /* toggle */
    position: fixed;
    top: -100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* formatting */
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    /* transition */
    transition-property: all;
    transition-timing-function: ease;
    /*transition-timing-function: ease-in-out;*/
    transition-duration: .35s;
    z-index: 2;
}

label.chevron {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  color: rgba(255, 255, 255, 0.95);
  height: 2.7rem;
  width: 5rem;
  /*border-radius: 20%;*/
  /*border-bottom: 2px solid rgba(255, 255, 255, 0.40);*/
  /*border-top: 2px solid rgba(255, 255, 255, 0.40);*/
  /*background-color: rgba(255, 255, 255, 0.30);*/
  margin-bottom: .5rem;
}

label.chevron:hover {
  cursor: pointer;
}

svg.chevron {
  height: 3rem;
  width: 3rem;
}

input[type="checkbox"]:checked ~ #dropdown {
    /* toggle */
    top: 0;
}

div.products,
div.membership,
div.learn,
div.events,
div.about,
div.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  left: -100%;
  background-color: #ddd;
}

a.temp {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  height: 7rem;
  width: 14rem;
  font-size: 2rem;
  color: rgba(163, 161, 161, 1);
  border: 2px solid rgba(163, 161, 161, 1);
}

/*testing..........................*/

div.products {
  /*background-color: lightblue;*/
  order: 2;
  left: 0;
}
div.membership {
  /*background-color: lightpink;*/
  order: 3;
}

div.contact {
  /*background-color: lightpink;*/
  order: 3;
}
div.about {
  /*background-color: gray;*/
  order: 3;
}
div.events {
  /*background-color: firebrick;*/
  order: 3;
}
div.learn {
  /*background-color: lightyellow;*/
  order: 3;
}

/*end testing........................*/



input[type="radio"] {
    display: none;
    position: absolute;
}

input#show-products[type="radio"]:checked ~ #products {
    left: 0;
}

input#show-membership[type="radio"]:checked ~ #membership,
input#show-learn[type="radio"]:checked ~ #learn,
input#show-events[type="radio"]:checked ~ #events,
input#show-about[type="radio"]:checked ~ #about,
input#show-contact[type="radio"]:checked ~ #contact {
    order: 1;
    left: 0;
}

nav.main {
  position: fixed;
  top: 0;
  left: 1rem;
  display: flex;

  justify-content: flex-start;
  /*height: 3rem;*/
  z-index: 3;
}

label.menu {
  cursor: pointer;
  /*font-size: 1.75rem;*/
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  top: 0;
  left: 0;
  z-index: 5;
  /*margin: 1rem 1rem;*/
  font-family: 'Lato', sans-serif;
  padding: 1.5rem 1rem 0 1rem;
  color: rgba(198, 54, 44, 1);
  font-weight: bold;
  font-size: 1.4rem;
  width: 8rem;
  /*border: 1px solid pink;*/
}


.navicon {
  /*border: 1px solid pink;*/
  /*display: inline-block;*/
  width: 1.2rem;
  height: 1.2rem;
  fill: rgb(198, 54, 44,);
  margin-right: .3rem;
  /*padding: 1.5rem 1rem 0 1rem;*/
  /*color: black;*/
}

label.menu:hover {
  color: rgba(250, 59, 46, 0.9);
}




/*End-Menu System...............................................................*/

@media screen and (max-width: 800px)
{
    #dropdown
    {
        top: -200vh;
    }

    #main-nav {
      /*display: none;*/
    }

    #pages-main-nav {
      /*display: none;*/
    }
}
