html {
  font-family: "Lato", sans-serif;
  /*this font-hack makes the font responsive with a max & min*/
  font-size: calc(9.5px + .272vw);
}


/*moved from drop-menu.css*/
input[type="checkbox"] {
    display: none;
    position: absolute;
}

body {
  background-color: #f1f1f1;
}

/*header-styles v2******/

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  /*margin-left: 18.5rem;*/
  z-index: 3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 .5px 2.5px .1px rgba(0, 0, 0, .45);
}

nav.main {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  /*height: 4rem;*/
  z-index: 4;
}

nav.main > label.menu {
  cursor: pointer;
  /*font-size: 1.75rem;*/
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  top: 0;
  left: 0;
  z-index: 7;
  /*margin: 1rem 1rem;*/
  font-family: 'Lato', sans-serif;
  padding: 1.5rem 1rem 0 1rem;
  color: rgba(198, 54, 44, 1);
  font-weight: bold;
  font-size: 1.4rem;
  width: 8rem;
  /*border: 1px solid pink;*/
}


label.menu > svg.navicon {
  /*border: 1px solid pink;*/
  /*display: inline-block;*/
  width: 1.2rem;
  height: 1.2rem;
  fill: rgb(198, 54, 44,);
  margin-right: .3rem;
  /*padding: 1.5rem 1rem 0 1rem;*/
  /*color: black;*/
}

label.menu:hover {
  color: rgba(250, 59, 46, 0.9);
}

header > a {
  margin-right: 2rem;
  padding-right: 2rem;
}

h1 {
  font-family: 'Raleway', sans-serif;
  /*font-variant: small-caps;*/
}


div.social {
  width: 6rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  /*align-self: flex-end;*/
  color: rgba(198, 54, 44, .9);
  /*border: 1px solid pink;*/
  height: 4rem;
  margin-right: 3rem;
}

a.social {
  font-size: 1.5rem;
}

a.social:hover {
  color: rgba(250, 59, 46, 0.9);
}

h1.logo {
  /*position: fixed;
    top: 1rem;
    right: 1rem;*/
  /*display: inline-block;*/
  display: flex;
  align-items: center;
  height: 4rem;
  font-family: 'Allura', 'Garamond', cursive;
  /*letter-spacing: .135rem;*/
  text-align: center;
  font-size: 2.15rem;
  font-weight: bold;
  color: rgba(198, 54, 44, 1);
  /*margin-top: 5rem;*/
  padding: 0 2rem;
  margin-right: 2rem;
  cursor: pointer;
  /*border: 1px solid hotpink;*/
}

h1.logo:hover {
  color: rgba(250, 59, 46, 0.9);
}

/*end-header-styles******/




/*page-nav-menu*/

div.nav {
  top: 4rem;
  position: fixed;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2.5rem;
  background-color: rgba(198, 54, 44, .9);
}

label.membership-side-menu {
  display: none;
}

div.sidebar {
  width: 100%;
  display: flex;
  justify-content: center;
}

nav.page-nav {
  width: 75%;
  min-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

nav.page-nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2rem;
  border-radius: 3px;
  padding: .25rem 1rem;
  font-size: 1.15rem;
}

nav.page-nav a:hover {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05), inset 0 2.5px 15px rgba(0, 0, 0, 0.3);
}

a.sign-up {
  background-color: rgba(250, 59, 46, 0.9);
}

nav.page-nav a.sign-up:hover {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.10), inset 0 2.5px 15px rgba(0, 0, 0, 0.3);
}

/*end-page-nav-menu*/

section.atf {
  /*width: 100%;*/
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  /*height: 200vh;*/
  background-color: #fff;
  /*margin-top: 4rem;*/
  padding-top: 11rem;
  margin: 4rem 12.5% 0 12.5%;
}

h1.yl, h1.main, h2.main {
  color: rgba(198, 54, 44, 1);
  margin-bottom: 1rem;
}

h1.yl {
  font-size: 3.1rem;
  font-family: 'Garamond', serif;
  /*color: #a5a5a5;*/
}

h1.main {
  font-size: 3.55rem;
  color: rgba(198, 54, 44, 1);
  /*font-variant: small-caps;*/
}

h2.main {
  font-size: 1.5rem;
  color: rgba(198, 54, 44, 1);
  /*color: #c5c5c5;*/
}

div.display {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin-bottom: 2rem;
}

div.heading {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

svg.visual {
  fill: rgba(198, 54, 44, 1);
  color: rgba(198, 54, 44, 1);
  height: 7rem;
  width: 7rem;
}

svg.visual:hover {
  fill: rgba(250, 59, 46, 0.9);
  transform: rotate(360deg);
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: .75s;
}

div.photocards {
  width: 100%;
  background-color: #fff;
  /*padding-top: 4rem;*/
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

div.card {
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  /*border-radius: 55%;*/
  /*height: 5rem;*/
  width: 24%;
  /*min-width: 20rem;*/
  margin: 1rem 4px 0 4px;
  box-shadow: 0 2px 2.5px 2.5px rgba(0, 0, 0, 0.12);
}

div.card:hover {
  transform: rotateZ(1deg);
  transition-property: all;
  transition-timing-function: ease;
  /*transition-timing-function: ease-in-out;*/
  transition-duration: .25s;
}

div.card-skin {
  height: 100%;
  width: 100%;
}

div.card-skin:hover {
  background-color: rgba(0, 0, 0, 0.01);
}

h1.card {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  /*color: rgba(198, 54, 44, 1);*/
  font-family: 'Allura', 'Garamond', cursive;
  /*font-weight: 500;*/
  font-size: 2.15rem;
  /*font-weight: bold;*/
  /*border: 1px solid pink;*/
  height: 5rem;
  /*background-color: rgba(0, 0, 0, 0.1);*/
}

h1.card1 {
  /*color: #fff;*/
  color: rgba(198, 54, 44, 1);
  /*box-shadow: 0 18px 7px -3.5px rgba(0, 0, 0, 0.1);*/
}

h1.card2 {
  /*transform: rotate(-45deg);*/
  color: rgba(198, 54, 44, 1);
}

h1.card3 {
  color: #fff;
  color: rgba(198, 54, 44, 1);
}

h1.card4 {
  color: rgba(198, 54, 44, 1);
}

div.wrap {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  /*height: 75%;*/
  height: 50vh;
  width: 100%;
}

div.wrap1 {
  background-image: url("/photos/membership/coin1280x853.jpg");
  background-size: cover;
  background-position: right;
}

div.wrap2 {
  background-image: url("/photos/membership/experiences-448x640.jpg");
  background-size: cover;
  background-position: top;
}

div.wrap3 {
  background-image: url("/photos/membership/rewards-1280x915.jpg");
  background-size: cover;
  background-position: top;
}

div.wrap4 {
  background-image: url("/photos/membership/support-427x640.jpg");
  background-size: cover;
  background-position: top;
}

p.card {
  display: none;
}

/*phone*/
@media screen and (max-width: 1100px) {

  /*header-styles v2 phone******/
  header {
    height: 5.5rem;
  }
  nav.main {
    height: 5.5rem;
    width: 25%;
    align-items: center;
    /*border: 1px solid pink;*/
  }
  nav.main>label.menu {
    justify-content: flex-start;
    align-items: center;
    left: 0;
    padding: 0 0 0 5px;
    height: 5.5rem;
    font-size: 1.7rem;
  }
  label.menu>svg.navicon {
    width: 1.5rem;
    height: 1.5rem;
  }
  header>a {
    margin-right: 0;
    padding-right: 0;
    /**/
  }
  a.gohome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.5rem;
    width: 50%;
    align-self: center;
  }
  h1 {
    font-family: 'Raleway', sans-serif;
  }
  h1.logo {
    font-size: 2.65rem;
  }
  div.social {
    height: 5.5rem;
    width: 25%;
    justify-content: flex-end;
    margin-right: 0;
    /**/
  }
  a.social {
    font-size: 2rem;
    padding-right: 2.5rem;
    /**/
  }
  h1.logo {
    padding: 0 0;
    /**/
    margin-right: 1rem;
  }
  /*end-header-styles******/

  /*sidebar-nav (phone)............................................*/

  input[id="m-s-menu"]:checked ~ #mside-menu {
      /* toggle */
      /*display: block;*/
      left: 0;
  }

  input[id="m-s-menu"]:checked ~ #mside-menu svg {
      /* toggle */
      /*display: block;*/
      transform: rotate(-90deg);
  }

  svg.right {
    fill: #fff;
    margin-bottom: .25rem;
    height: 2rem;
    width: 2.25rem;
    transform: rotate(90deg);
  }

  label.membership-side-menu {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    color: #fff;
    /*float: right;*/
    left: 17.95rem;
    top: 0;
    height: 4rem;
    margin-right: -6rem;
    /*left: 1rem;*/
    background-color: rgb(198, 54, 44);
    /*background-color: #d2d2d2;*/
    opacity: .925;
    border-radius: .15rem;
    /*box-shadow: 0 .1rem .2rem 0 rgba(0, 0, 0, 0.2);*/
    padding: .5rem 1rem;
    z-index: 3;
    font-size: 2.5rem;
    font-weight: bold;
  }

  #mside-menu {
    /*display: none;*/
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    width: 18rem;
    left: -18rem;
    top: 5.5rem;
    height: calc(100vh - 5.5rem);
    /*height: 100%*/
    background-color: rgb(198, 54, 44);
    /*background-color: rgba(0, 0, 0, 0.2);*/
    opacity: .9;
    /*border: 1px solid blue;*/
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: .35s;
    overflow-x: visible;
  }

  div.sidebar {
    /*background-color: #d2d2d2;*/
    /*background-color: rgba(0, 0, 0, 0.2);*/
    width: 18rem;
    /*opacity: .925;*/
    position: relative;
    top: 0;
    /*height: calc(100vh - 5.5rem);*/
    height: 100%;
    /*opacity: .925;*/
  }

  nav.page-nav {
    /*display: none;*/
    /*position: relative;*/
    background-color: rgb(198, 54, 44);
    opacity: .9;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 1rem 2rem 1rem;
    top: 0;
    height: 100%;
    width: 18rem;
    min-height: 100%;
    max-height: 100%;
    margin: 0 0;
    /*padding: 2rem 0;*/
    /*padding: 0;*/
    /*border: 1px solid pink;*/
  }

  nav.page-nav a {
      width: 85%;
      /*box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05), inset 0 2.5px 15px rgba(0, 0, 0, 0.3);*/
      box-shadow: .2rem .2rem .3rem .2rem rgba(0, 0, 0, 0.3);
      margin-bottom: 5px;
      font-size: 1.35rem;
      padding: 1.5rem 0;
  }

  /*end-sidebar-nav (phone)............................................*/

  /*above-the-fold*/



  div.display {
    width: 100%;
    justify-content: space-between;
  }

  section.atf {
    margin: 0 0 0 0;
    padding-top: 10rem;
  }

  div.display {
    width: 100%;
  }

  div.heading {
    padding: 0 0;
  }

  h1.main {
    font-size: 2.9rem;
  }

  h1.yl {
    font-size: 2.8
  }

  h2.main {

  }

  svg.visual {
    height: 5rem;
    width: 5rem;
    margin: 0 1rem;
  }

  div.card {
    width: 45%;
    margin: .5rem .25rem;
  }

  div.wrap {
    height: 30vh;
  }



}
