

/*below the fold**********************************/

section.btf {
  /*width: 100%;*/
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  /*height: 200vh;*/
  background-color: #fff;
  /*padding-top: 7rem;*/
  margin: 0 12.5% 0 12.5%;
  padding-bottom: 5rem;
}

section.subjects {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 13rem 0 3rem 0;
}

div.blocks {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  border: .1rem solid rgba(198, 54, 44, .8);
  border-radius: 1rem;
  width: 85%;
  padding: 3rem;
  /*margin-top: 13rem;*/
  min-height: 15rem;
}

div.blocks h2 {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 1.85rem;
  font-family: 'Raleway', sans-serif;
  color: rgba(198, 54, 44, .9);
  align-self: center;
  padding: 2rem 0;
  margin-top: 2rem;
}

div.over {
  background-color: #fff;
  position: absolute;
  z-index: 1;
  top: -1.5rem;
  left: 7rem;
  padding: 0 1.25rem;
}

div.over h1 {
  font-size: 3.3rem;
  color: rgba(198, 54, 44, .9);
  font-family: 'Garamond', serif;
}

section.subjects p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  padding: 1.1rem;
  margin: 0 2rem;
  color: #665;
  line-height: 1.35;
  width: 80%;
}

/*Retail vs Membership comparison*/

div.compare {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 2rem 0;
}


section.member *,
section.retail * {
  padding-bottom: 1rem;
}

section.member, section.retail {
  display: flex;
  flex-flow: column nowrap;
  min-width: 16rem;
  max-width: 27.5rem;
  /*border: 1px solid black;*/
  padding: 1rem 1.5rem 1rem 1rem;
  /*margin-top: 2.5rem;*/
  margin: 0 1rem 2.5rem 1rem;
  font-size: 1.25rem;
  border-radius: .75rem;
  min-height: 30rem;
  /*margin: 0 5rem;*/
}

section.member h1.compare,
section.retail h1.compare {
  font-size: 2.2rem;
  color: #fff;
  align-self: center;
  padding: 2rem 0;
}

section.member h2.compare {
  font-size: 1.5rem;
  color: #fff;
  align-self: center;
  padding-bottom: 2rem;
  margin: 0;
}

section.member {
  background-color: rgba(198, 54, 44, .9);
  color: white;
  /*background-image: linear-gradient(90deg, rgba(198, 54, 44, .9), #CB473E 99%);*/
  /*background-color: #F9ECEB;*/
}

section.retail {
  /*background-image: linear-gradient(90deg, #aaa, #bbb 99%);*/
  background-color: #8c909e;
  color: white;
}

section.retail h1.compare {
  padding-bottom: 4rem;
}

ul.compare {
  list-style: disc;
  padding-left: 3rem;

}

span.pv {
  font-weight: bold;
}

span.note {
  display: block;
  font-size: 1rem;
  width: 90%;
  padding: 1rem 2rem;
}



/*sk-test*/

a.sk {
  position: relative;
  text-decoration: underline;
  color: rgba(198, 54, 44, .9);
  padding: .5rem .5rem;
  cursor: pointer;
  margin: 0 1rem 0 0;
}

a.sk span {
  padding: 1rem 1rem 1rem 0;
  /*margin: 0;*/
}


img.sk {
  display: none;
  position: absolute;
  top: -10rem;
  width: 30rem;
  height: 20rem;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  animation-name: fadeIn;
  animation-duration: .6s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  0% {margin-left: 20%;}
  100% {opacity: 1;}
  100% {margin-left: 0%;}
}


a.sk:hover img.sk {
  display: inline;
}



/*end-sk-test*/



#compensation {
  display: none;
}

div.save {
  align-items: flex-start;
}

div.tag-holder {
  display: flex;
  justify-content: center;
  width: 100%;
}

div.tag {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 8rem;
  width: 8rem;
  font-size: 3.45rem;
  /*font-weight: bold;*/
  color: #fff;
  background-color: rgba(198, 54, 44, .9);
  border-radius: 55%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
  font-family: 'Allura', 'Garamond', cursive;
}

span.small-1 {
  font-size: 2.5rem;
  margin-left: 2px;
}

span.small-2 {
  font-size: 1.9rem;
}

div.tag span:last-child {
  /*padding-top: .15rem;*/
  /*font-family: 'Garamond', serif;*/
}

span.er {
  color: rgba(198, 54, 44, .9);
  font-weight: bold;
}

div.save label {
  text-align: center;
  cursor: pointer;
  background-color: rgba(198, 54, 44, .9);
  color: #fff;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  padding: .75rem 1rem;
  margin: 1.5rem 2.6rem;
  line-height: 1.15;
}

div.save label:hover {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  background-color: rgba(250, 59, 46, 0.9);
}

input[type="checkbox"]:checked~#compensation {
  /* toggle */
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

a.learnmore {
  /*margin-left: 1rem;*/
  color: rgba(198, 54, 44, .9);
}

ul.list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  padding: 1.1rem;
  padding-left: 5rem;
  color: #665;
  line-height: 1.35;
  width: 80%;
  list-style: disc;
}

li.list {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  padding: .5rem;
  /*margin: 0 6rem;*/
  color: #665;
  line-height: 1.35;
  list-style: disc;
  width: 100%;
}

/*erinfographic*/

a.erinfo {
  text-align: center;
  cursor: pointer;
  background-color: rgba(198, 54, 44, .9);
  color: #fff;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  padding: .75rem 1rem;
  margin: 1.5rem 2.6rem;
  line-height: 1.15;
}

a.erinfo:hover {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  background-color: rgba(250, 59, 46, 0.9);
}
/*end-erinfographic*/

/*experiences*/

div.experiences p:first-of-type{
  /*display: block;*/
  margin-top: 3rem;
}

img.exp {
  /*float: right;*/
  margin: 2rem 2rem;
  height: 20rem;
  width: 30rem;
}

div.experiences p.yl {
  font-size: 1.85rem;
  padding-left: 2rem;
  font-family: 'Garamond', serif;
  /*width: 100%;*/
  /*color: #a5a5a5;*/
}

p.yl a {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  /*padding: 1.1rem;*/
  margin: 0 .75rem;
  /*color: #665;*/
  line-height: 1.35;
}

div.lyp {
  display: flex;
  justify-content: center;
  width: 100%;
}

a.lyp {
  /*display: flex;*/
  /*justify-content: center;*/
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  color: #fff;
  background-color: rgba(198, 54, 44, .9);
  padding: 1rem;
  border-radius: 5px;
  margin: 4rem 0 2rem 0;
  width: 15rem;
}

a.lyp:hover {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  background-color: rgba(250, 59, 46, 1);
  color: #fff;
}
span.tiny {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: .5rem;
  font-size: .85rem;
}

div.vidembed {
  margin: 4rem 0;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: 1px solid pink;*/
}

iframe.video {
  width: 45rem;
  height: 25rem;
}

div.list {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 3rem 0;
}

a.support {
  /*text-align: center;*/
  /*vertical-align: baseline;*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1.45rem;
  /*color: #fff;*/
  color: rgba(198, 54, 44, .9);
  /*background-color: rgba(198, 54, 44, .9);*/
  /*background-color: #fff;*/
  /*border: 1px solid rgba(198, 54, 44, .9);*/
  padding: .5rem 1rem;
  border-radius: 5px;
  margin: 2rem 0 2rem 0;
  /*width: 50%;*/
}

a.support:hover {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  background-color: rgba(250, 59, 46, 1);
  color: #fff;
}

span.name {
  font-family: 'Garamond', serif;
  font-size: 2rem;
}

div.list span.lil {
  font-family: 'Allura', 'Garamond', cursive;
  font-size: 2.155rem;
}

div.list i {
  font-size: 3rem;
  padding-left: 2rem;
}





/*end-testing*************************************************************/

footer {
  font-size: .9rem;
  display: flex;
  align-items: center;
  height: 5vh;
  width: 100%;
  padding-left: 4rem;
}

footer a {
  text-decoration: underline;
}



/*back-to-top button*/

svg.top {
  fill: #fff;
  margin-bottom: .25rem;
  height: 2rem;
  width: 2rem;
  color: #fff;
}

.bottomMenu {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1rem;
  right: 3rem;
  width: 3rem;
  height: 3rem;
  box-shadow: 0 2px #b3b3b3;
  border-radius: 100%;
  background: #ccc;
  z-index: 1;
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 1s;
}

.hide {
  opacity: 0;
  /*display: none;*/
  /*left: -100%;*/
}

.show {
  opacity: 1;
  /*left: 0;*/
}
