html {
  font-family: "Lato", sans-serif;
  font-size: calc(9.5px + .34vw);
}

body {
  background-color: #f1f1f1;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  /*margin-left: 18.5rem;*/
  z-index: 2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  background-color: white;
  box-shadow: 0 .5px 2.5px .1px rgba(0, 0, 0, .45);
}

div.nav {
  position: fixed;
  top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15%;
  /*align-self: center;*/
  width: 100%;
  height: 2.5rem;
  box-shadow: 0 .5px 2.5px .1px rgba(0, 0, 0, .45);
  background-color: rgba(198, 54, 44, 1);
  color: #fff;
  /*margin: 0 15%;*/
}

nav.page-nav {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

a.home {
  /*align-self: flex-end;*/
}


h1 {
  font-family: 'Raleway', sans-serif;
  /*font-variant: small-caps;*/
}


div.social {
  width: 4rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  /*align-self: flex-end;*/
  color: rgba(198, 54, 44, .9);
  /*border: 1px solid pink;*/
  height: 4rem;
  margin-right: 3rem;
}

a.social:hover {
  color: rgba(250, 59, 46, 0.9);
}

svg.social {
  height: 1.4rem;
  width: 1.4rem;
}

h1.logo {
    /*position: fixed;
    top: 1rem;
    right: 1rem;*/
    /*display: inline-block;*/
    font-family: 'Allura', 'Garamond', cursive;
    /*letter-spacing: .135rem;*/
    text-align: center;
    font-size: 2.15rem;
    font-weight: bold;
    color: rgba(198, 54, 44, 1);
    /*margin-top: 5rem;*/
    padding: .5rem 2rem;
    margin-right: 2rem;
    cursor: pointer;
    /*border: 1px solid hotpink;*/
}

h1.logo:hover {
  color: rgba(250, 59, 46, 0.9);
}

/*testing*************************************************************/


section.atf {
  /*width: 100%;*/
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: 200vh;
  background-color: #fff;
  padding-top: 7rem;
  margin: 0 15%;
}

h1.yl, h1.main, h2.main {
  color: rgba(198, 54, 44, 1);
  margin-bottom: 1rem;
}

h1.yl {
  font-size: 3rem;
  font-family: garamond, serif;
  /*color: #a5a5a5;*/
}

h1.main {
  font-size: 3.75rem;
    color: rgba(198, 54, 44, 1);
  /*font-variant: small-caps;*/
}

h2.main {
  font-size: 1.8rem;
  color: rgba(198, 54, 44, 1);
  /*color: #c5c5c5;*/
}

div.display {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  width: 90%;
  align-items: center;
  /*background-color: #F6E7D2;*/
  background-size: 50% 50%;
  background-repeat: no-repeat;
  /*background:
    radial-gradient(circle at top left,
               transparent 2rem, #F6E7D2 0) top left,
    radial-gradient(circle at top right,
               transparent 2rem, #F6E7D2 0) top right,
    radial-gradient(circle at bottom right,
               transparent 2rem, #F6E7D2 0) bottom right,
    radial-gradient(circle at bottom left,
               transparent 2rem, #F6E7D2 0) bottom left;
               background-size: 50.5% 50.5%;
               background-repeat: no-repeat;*/
}

div.heading {
  /*width: 70%;*/
  /*height: 16rem;*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
  /*border: 2px solid green;*/
  /*outline: 5px solid pink;*/

}

svg.visual {
  fill: rgba(198, 54, 44, 1);
  /*border: 1px solid rgba(198, 54, 44, 1);*/
  /*border-radius: 75%;*/
  /*stroke: black;*/
  height: 6.5rem;
  width: 6.5rem;
  padding: 3rem;
}

div.subjects {
  /*padding-top: 4rem;*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

div.token {
  display: flex;
  justify-content: center;
  align-items: center;
  /*border-radius: 55%;*/
  height: 5rem;
  width: 25%;
}

div.token1 {
  /*background-color: #CFCFCF;*/
  /*background-color: #785A7C;*/
  /*height: 11rem;*/
  /*width: 11rem;*/
  /*border-right: 1px solid rgba(198, 54, 44, 1);*/
}
div.token2 {
  /*background-color: #CFCFCF;*/
  /*background-color: #AB1D3C;*/
  /*transform: rotate(45deg);*/
  /*height: 11rem;*/
  /*width: 11rem;*/
  /*border-right: 1px solid rgba(198, 54, 44, 1);*/
}
div.token3 {
  /*background-color: #CFCFCF;*/
  /*background-color: #156C59;*/
  /*border-radius: 55%;*/
  /*height: 11rem;*/
  /*width: 11rem;*/
  /*border-right: 1px solid rgba(198, 54, 44, 1);*/
}
div.token4 {
  /*background-color: #CFCFCF;*/
  /*background-color: #006CB5;*/
  /*height: 11rem;*/
  /*width: 13rem;*/
  /*border-right: 1px solid rgba(198, 54, 44, 1);*/
}

h1.token {
  /*color: rgba(198, 54, 44, 1);*/
  font-family: 'Allura', 'Garamond', cursive;
  /*font-weight: 500;*/
  font-size: 3rem;
  /*font-weight: bold;*/
}

h1.token1 {
  color: #fff;
  color: rgba(198, 54, 44, 1);
}

h1.token2 {
  /*transform: rotate(-45deg);*/
  color: rgba(198, 54, 44, 1);
}

h1.token3 {
  color: #fff;
  color: rgba(198, 54, 44, 1);
}

h1.token4 {
  color: rgba(198, 54, 44, 1);
}



/*end-testing*************************************************************/

footer {
  font-size: .9rem;
  display: flex;
  align-items: center;
  height: 5vh;
  width: 100%;
  padding-left: 4rem;
}

footer a {
  text-decoration: underline;
}

header > a {
  margin-right: 2rem;
}
