html {
  font-family: "Lato", sans-serif;
  /*this font-hack makes the font responsive with a max & min*/
  font-size: calc(9.5px + .34vw);

}

body {
  /*background-image: linear-gradient(90deg, #FBFAF6, #E9E4DD 90%);*/
  /*background-color: #F9F8F4;*/
  background-color: #fff;
  color: #555;
  /*height: 300vh;*/
  /*margin-left: 12.5%*/
}

/*div.side,
section.instrux,
section.products {
  background-color: #fff;
}*/

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  /*margin-left: 18.5rem;*/
  z-index: 2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  /*border: 1px solid pink;*/
  background-color: white;
  box-shadow: 0 .5px 2.5px .1px rgba(0, 0, 0, .25);
}

h1 {
  font-family: 'Raleway', sans-serif;
  /*font-variant: small-caps;*/
}


div.social {
  width: 4rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: rgba(198, 54, 44, .9);
  /*border: 1px solid pink;*/
  height: 4rem;
  margin-right: 3rem;
}

a.social:hover {
  color: rgba(250, 59, 46, 0.9);
}

svg.social {
  height: 1.4rem;
  width: 1.4rem;
}

h1.logo {
    /*position: fixed;
    top: 1rem;
    right: 1rem;*/
    /*display: inline-block;*/
    font-family: 'Allura', 'Garamond', cursive;
    /*letter-spacing: .135rem;*/
    text-align: center;
    font-size: 2.15rem;
    font-weight: bold;
    color: rgba(198, 54, 44, 1);
    /*margin-top: 5rem;*/
    padding: .5rem 2rem;
    margin-right: 2rem;
    cursor: pointer;
    /*border: 1px solid hotpink;*/
}

h1.logo:hover {
  color: rgba(250, 59, 46, 0.9);
}

header > a {
  margin-right: 2rem;
}

/*sidebar-nav....................................................*/

div.side {

  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 18.5rem;
  /*box-shadow: .5px 0 2.5px .1px rgba(0, 0, 0, .25);*/
  background-color: #fbfbfb;
  /*box-shadow: inset -1px 0 0 rgba(170, 170, 170, 0.1);*/
}

nav.pagenav {
  padding: 2rem 2rem 2rem 2rem;
  position: relative;
  top: 5vh;
  /*bottom:7vh;*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  /*align-items: flex-start;*/
  height: 100%;
  width: 100%;
  padding-bottom: 5rem;
  /*box-shadow:  inset -1px 0 0 0 rgba(0, 0, 0, 0.1);*/
  /*border-right: 2px solid rgba(190, 190, 190, .1);*/
}

nav.pagenav a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  padding: 1.25rem .5rem;
  font-size: 1.35rem;
  /*color: white;*/
  color: rgba(198, 54, 44, 1);
  /*background-color: #b5b5b5;*/
  /*background-color: rgba(198, 54, 44, 1);*/
  width: 12rem;
  max-height: 6rem;
  /*border-right: 2px solid white;*/
  border-radius: .5rem;
  text-align: center;
  transition-property: all;
  transition-timing-function: ease-in-out;
  /*transition-duration: .15s;*/
  line-height: 2rem;
}

div.side a:hover {
    color: rgba(250, 59, 46, 1);
  /*color: rgba(198, 54, 44, 1);*/
  /*border: 1px solid rgba(0, 0, 0, 0.3);*/
  box-shadow: .2rem .2rem .3rem .1rem rgba(0, 0, 0, 0.3);
}

div.side a.signup {
  border: 1px solid rgba(198, 54, 44, 1);
}

div.side a.signup:hover {
  border: 1px solid rgba(250, 59, 46, 1);
  background-color: rgba(250, 59, 46, 1);
  color: white;
}

/*end-sidebar-nav....................................................*/



section.instrux {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /*margin-top: 1rem;*/
  /*margin-left: 18.5rem;*/
  /*margin-right: 5rem;*/
  padding: 4rem 0 4rem 18.5rem;
  /*border: 1px solid black;*/
  padding-top: 4rem;
  width: 100%;
  /*min-width: 50rem;*/

}


div.main-image {
  background-image: url(/photos/lav-promo.jpg);
  /*background-size: 112% auto;*/
  background-size: cover;
  background-position: 25% 80%;
  width: 100%;
  height: 77vh;
}

div.display {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-left: 18.5rem;
  min-width: 50rem;
  height: 77vh;
  padding: 4rem 2rem 0 2rem;
  /*color: #9f9f9f;*/
}



svg.down {
  height: 6rem;
  width: 6rem;
  margin: 4rem 0 2rem 0;
    fill: #c6c6c6;
}

div.display > h1 {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  padding-bottom: 2rem;
}

div.display > h1:first-child {
  /*font-weight: bold;*/
  color: #720199;
  font-size: 3rem;
  margin-top: 3rem;
}

div.display p {
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

div.display p,
div.display h1 {
  margin-top: 1rem;
}

div.compare {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 2rem;
}

div.compare > h1 {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
  /*border: 1px solid black;*/
  padding: 2rem 0 5rem 0;
}




section.member *,
section.retail * {
  padding-bottom: 1rem;
}

section.member, section.retail {
  display: flex;
  flex-flow: column nowrap;
  min-width: 25rem;
  max-width: 34rem;
  /*border: 1px solid black;*/
  padding: 1rem 1rem 1rem 1rem;
  /*margin-top: 2.5rem;*/
  margin: 0 1rem 2.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 1.5rem;
  min-height: 30rem;
  /*margin: 0 5rem;*/
}

section.member {
  /*margin-right: 7rem;*/
}

section.retail {
  /*margin-left: 7rem;*/
}



section.member h1,
section.retail h1 {
  font-size: 2.2rem;
  /*font-weight: bold;*/
  /*width: 100%;*/
  align-self: center;
  padding: 2rem 0;
}

section.member h2 {
  font-size: 1.5rem;
  /*width: 100%;*/
  /*padding-left: 3rem;*/
  align-self: center;
  padding-bottom: 2rem;
}

section.member {
  background-color: rgba(198, 54, 44, .9);
  color: white;
  /*background-image: linear-gradient(90deg, rgba(198, 54, 44, .9), #CB473E 99%);*/
  /*background-color: #F9ECEB;*/
}

section.retail {
  /*background-image: linear-gradient(90deg, #aaa, #bbb 99%);*/
  background-color: #8c909e;
  color: white;
}

section.retail h1 {
  padding-bottom: 4rem;
}

ul {
  list-style: disc;
  /*text-indent: 1rem;*/
  padding-left: 3rem;

}

div.decide {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5rem;
  background-color: #f3f3f3;
  padding: 1rem 0;
  width: 60%;
}

p.decide {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*margin-top: 8rem;*/
  font-size: 1.25rem;
  width: 70%;
  text-align: center;
  line-height: 2rem;
}

p.decide span {
  display: block;
  margin: 0 .4rem;
  line-height: 1.8rem;
  padding: 0 3px;
  color: rgba(198, 54, 44, 1);
  border: 1px solid rgba(198, 54, 44, 1);
  border-radius: 5px;
}

span.lmp {
  display: inline-block;
  /*width: 100%;*/
  font-family: 'Allura', 'Garamond', cursive;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: rgba(198, 54, 44, 1);
}



svg.top {
  fill: #fff;
  margin-bottom: .25rem;
  height: 2rem;
  width: 2rem;
}

/*products*************************************************************/
section.products {
  padding: 0 5rem 0 23.5rem;
  /*margin-left: 23.5rem;*/
  /*margin-right: 5rem;*/
  width: 100%;
}

h2.subhead {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

div.heading {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 7rem;
  width: 100%;
  margin-top: 7rem;
  /*border: 1px solid pink;*/
  /*background-color: #eee;*/
}

div.heading h1 {
  font-size: 3rem;
  font-family: 'Lato',sans-serif;
  /*font-weight: bold;*/
  width: 100%;
  text-align: center;


}

div.line {
  display: none;
  width: 37.5%;
  border-bottom: 2px solid #e2e2e2;
  margin: 0 2.5rem;
}

/*products-starter-kits**************************************************/

div.starter-kits {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 5rem 0;
}

section.sk-display {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 73rem;
}

section.spacer {
  margin-bottom: 3rem;
}

div.sk-description {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  /*margin-top: 1rem;*/
  /*justify-content: flex-start;*/
  /*height: 10rem;*/
  /*background-color: #CFDBD4;*/
}

div.sk-description p {
  width: 50%;
}

img.sk {
  min-height: 20rem;
  min-width: 30rem;
  max-height: 48rem;
  max-width: 73rem;
}


div.sk-description > h1 {
  align-self: center;
  font-size: 1.75rem;
  padding: .5rem 0;
  margin-bottom: 1rem;
  /*border-bottom: 3px solid #9F78A5;*/
  /*color: #9F78A5;*/
}

div.sk-description > p {
  padding-left: 1rem;
  margin-bottom: 1rem;
  /*width: 90%;*/
}

div.sk-description > li {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding: 0 1rem;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: .5rem 4rem;
  /*border: 1px solid hotpink;*/
}

div.sk-description span.members {
  padding: .25rem;
  border-radius: .35rem;
}

 div.sk-description span.price {
  padding: .25rem;
  border-radius: .35rem;
}


div.purchase-sk {
  /*margin: 0;*/
  /*width: 75%;*/
  display: flex;
  justify-content: center;
  /*border: 5px solid hotpink;*/
  margin-top: 2rem;

}

a.purchase-sk {
  /*text-align: justify;*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: .85rem;
  width: 8rem;
  padding: .35rem;
  border-radius: .25rem;
  /*font-weight: bold;*/
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: .4s;
  border-radius: .35rem;
}

/*diffuser-sk***********************/

div.diffuser span.members {
  border: 1px solid #005C52;
  color: ##005C52;
}

 div.diffuser span.price {
   background-color: #005C52;
   color: white;
 }


div.diffuser a.purchase-sk {
    border: 1px solid #005C52;
    color: #005C52;
}

div.diffuser a.purchase-sk:hover {
  background-color: #005C52;
  color: white;
}

div.diffuser h1 {
  color: #005C52;
}


/*thieves-sk**************************/

div.thieves-sk span.members {
  border: 1px solid #B3A592;
  color: #B3A592;
}

 div.thieves-sk span.price {
   background-color: #B3A592;
   color: white;
 }


div.thieves-sk a.purchase-sk {
    border: 1px solid #B3A592;
    color: #B3A592;
}

div.thieves-sk a.purchase-sk:hover {
  background-color: #B3A592;
  color: white;
}

div.thieves-sk h1 {
  color: #B3A592;
}


/*products-singles********************************************************/

img.singles, img.blends {
  /*margin-left: 41.6%;*/
  min-height: 8.4rem;
  min-width: 3.5rem;
  max-height: 15.6rem;
  max-width: 6.5rem;
  margin-top: 2rem;
  /*overflow: hidden;*/
}

img.tranquil {
  min-height: 8.4rem;
  min-width: 2rem;
  max-height: 15.6rem;
  max-width: 4rem;
  margin-top: 2rem;
}

div.oils {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 5rem 0;
}



section.singles-display, section.blends-display {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 33.33%;
  min-width: 30rem;
  height: 55vh;
  min-height: 30rem;
  padding: 1rem;
  box-sizing: border-box;
  margin-top: 5rem;
  /*border: 1px solid hotpink;*/
}

div.wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  height: 90%;
}

section.large {
  width: 50%;
}


div.description {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 1rem 1rem;
  height: 90%;
  /*height: 100%;*/
  width: 75%;
  /*background-color: #CFDBD4;*/
  /*border: 1px solid #CFDBD4;*/
}

div.description > h1 {
  align-self: center;
  font-size: 1.75rem;
  padding: .5rem 0;
  /*border: 1px solid pink;*/
  text-align: center;
  /*border-bottom: 3px solid #9F78A5;*/
  /*color: #9F78A5;*/
}

div.description > p {
  padding-left: 1rem;
}

div.description > li {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding: 0 1rem;
  align-self: flex-end;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /*border: 1px solid hotpink;*/
}

span.members {
  padding: .25rem;

  border-radius: .35rem;
}

span.price {
  padding: .25rem;
  /*border: 1px solid #9F78A5;*/

  border-radius: .35rem;
}

div.purchase {
  margin: 0;
  width: 50%;
  display: flex;
  justify-content: center;
  /*border: 1px solid hotpink;*/
  /*margin-top: 2rem;*/
}

a.purchase {
  text-align: justify;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: .85rem;
  width: 8rem;
  padding: .35rem;
  border-radius: .25rem;
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: .4s;
  /*font-weight: bold;*/
}

/*individual product-singles colors***************/

/*lavender*/

div.lavender  span.members {
  border: 1px solid #9F78A5;
  color: #9F78A5;
}

div.lavender  span.price {
  background-color: #9F78A5;
  color: #fff;
}

div.lavender  a.purchase {
  border: 1px solid #9F78A5;
  color: #9F78A5;

}

div.lavender  a.purchase:hover {
  background-color: #9F78A5;
  color: #fff;

}

div.lavender h1 {
  color: #9F78A5;
}

/*peppermint*/
/*copy*/

div.peppermint span.members {
  border: 1px solid #2F5850;
  color: #2F5850;
}

div.peppermint span.price {
  background-color: #2F5850;
  color: #fff;
}

div.peppermint a.purchase {
  border: 1px solid #2F5850;
  color: #2F5850;
}

div.peppermint a.purchase:hover {
  background-color: #2F5850;
  color: #fff;
}

div.peppermint h1 {
  color: #2F5850;
}

/*end*/

/*frankincense*/

div.frankincense span.members {
  border: 1px solid #E32650;
  color: #E32650;
}

div.frankincense span.price {
  background-color: #E32650;
  color: #fff;
}

div.frankincense a.purchase {
  border: 1px solid #E32650;
  color: #E32650;
}

div.frankincense a.purchase:hover {
  background-color: #E32650;
  color: #fff;
}

div.frankincense h1 {
  color: #E32650;
}

/*eucalyptus*/

div.eucalyptus span.members {
  border: 1px solid #1C9076;
  color: #1C9076;
}

div.eucalyptus span.price {
  background-color: #1C9076;
  color: #fff;
}

div.eucalyptus a.purchase {
  border: 1px solid #1C9076;
  color: #1C9076;
}

div.eucalyptus a.purchase:hover {
  background-color:#1C9076;
  color: #fff;
}

div.eucalyptus h1 {
  color: #1C9076;
}

/*rosemary*/

div.rosemary span.members {
  border: 1px solid #306764;
  color: #306764;
}

div.rosemary span.price {
  background-color: #306764;
  color: #fff;
}

div.rosemary a.purchase {
  border: 1px solid #306764;
  color: #306764;
}

div.rosemary a.purchase:hover {
  background-color: #306764;
  color: #fff;
}

div.rosemary h1 {
  color: #306764;
}

/*thieves*/

div.thieves span.members {
  border: 1px solid #843430;
  color: #843430;
}

div.thieves span.price {
  background-color: #843430;
  color: #fff;
}

div.thieves a.purchase {
  border: 1px solid #843430;
  color: #843430;
}

div.thieves a.purchase:hover {
  background-color: #843430;
  color: #fff;
}

div.thieves h1 {
  color: #843430;
}

/*panaway*/

div.panaway span.members {
  border: 1px solid #2273B2;
  color: #2273B2;
}

div.panaway span.price {
  background-color: #2273B2;
  color: #fff;
}

div.panaway a.purchase {
  border: 1px solid #2273B2;
  color: #2273B2;
}

div.panaway a.purchase:hover {
  background-color: #2273B2;
  color: #fff;
}

div.panaway h1 {
  color: #2273B2;
}

/*tummygize*/

div.tummygize span.members {
  border: 1px solid #7EBF7B;
  color: #7EBF7B;
}

div.tummygize span.price {
  background-color: #7EBF7B;
  color: #fff;
}

div.tummygize a.purchase {
  border: 1px solid #7EBF7B;
  color: #7EBF7B;
}

div.tummygize a.purchase:hover {
  background-color: #7EBF7B;
  color: #fff;
}

div.tummygize h1 {
  color: #7EBF7B;
}

/*rc*/

div.rc span.members {
  border: 1px solid #C72A52;
  color: #C72A52;
}

div.rc span.price {
  background-color: #C72A52;
  color: #fff;
}

div.rc a.purchase {
  border: 1px solid #C72A52;
  color: #C72A52;
}

div.rc a.purchase:hover {
  background-color: #C72A52;
  color: #fff;
}

div.rc h1 {
  color: #C72A52;
}

/*tranquil*/

div.tranquil span.members {
  border: 1px solid #824F8F;
  color: #824F8F;
}

div.tranquil span.price {
  background-color: #824F8F;
  color: #fff;
}

div.tranquil a.purchase {
  border: 1px solid #824F8F;
  color: #824F8F;
}

div.tranquil a.purchase:hover {
  background-color: #824F8F;
  color: #fff;
}

div.tranquil h1 {
  color: #824F8F;
}

/*for the home***********************************************************/


div.home {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 5rem 0;
}

section.home {
  max-width: 45%;
  padding: 5rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  /*width: 33.33%;*/
  min-width: 30rem;
  height: 55vh;
  min-height: 30rem;
  padding: 1rem;
  box-sizing: border-box;
  margin-top: 5rem;
  /*border: 1px solid hotpin
}



div.home h2 {
  /*margin-bottom: 8rem;*/
}

div.home-description {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 1rem 1rem;
  height: 90%;
  /*height: 100%;*/
  width: 75%;
  /*background-color: #CFDBD4;*/
  /*border: 1px solid #CFDBD4;*/
}

div.home-description > h1 {
  align-self: center;
  font-size: 1.75rem;
  padding: .5rem 0;
  /*border: 1px solid pink;*/
  text-align: center;
  /*border-bottom: 3px solid #9F78A5;*/
  /*color: #9F78A5;*/
}

div.home-description > p {
  padding-left: 1rem;
}

div.home-description > li {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding: 0 1rem;
  align-self: flex-end;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /*border: 1px solid hotpink;*/
}




div.large-home figure {
  height: 27rem;
  width: 20rem;
  /*border: 1px solid pink;*/
}

/*for-the-home image sizes*************/

img.t-cleaner {
  height: 27rem;
  width: 20rem;
  margin-top: .5rem;
  /*border: 1px solid pink;*/
}

img.t-laundry {
  height: 27rem;
  width: 14.1rem;
}

img.t-dish {
  height: 27rem;
  width: 14.3rem;
}

/*colors - home - products*******/

div.t-cleaner span.members,
div.t-dish span.members,
div.t-laundry span.members {
  border: 1px solid rgba(198, 54, 44, 1);
  color: rgba(198, 54, 44, 1);
}

div.t-cleaner span.price,
div.t-dish span.price,
div.t-laundry span.price {
  background-color: rgba(198, 54, 44, 1);
  color: #fff;
}

div.t-cleaner a.purchase,
div.t-dish a.purchase,
div.t-laundry a.purchase {
  border: 1px solid rgba(198, 54, 44, 1);
  color: rgba(198, 54, 44, 1);
}


div.t-cleaner a.purchase:hover,
div.t-dish a.purchase:hover,
div.t-laundry a.purchase:hover {
  background-color: rgba(198, 54, 44, 1);
  color: #fff;
}

div.t-cleaner h1,
div.t-dish h1,
div.t-laundry h1 {
  color: rgba(198, 54, 44, 1);
}


/*personal-products***************************************************/

div.personal {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 5rem 0;
}

div.personal h2 {
  /*margin-bottom: 8rem;*/
}

section.personal {
  max-width: 45%;
  padding: 5rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  /*width: 33.33%;*/
  min-width: 30rem;
  height: 55vh;
  min-height: 30rem;
  padding: 1rem;
  box-sizing: border-box;
  margin-top: 5rem;
}


div.large-personal figure {
  height: 27rem;
  width: 20rem;
  /*border: 1px solid pink;*/
}

/*personal-products image sizes*************/

img.immupro {
  height: 25rem;
  width: 16.3rem;
  margin-top: .5rem;
  /*border: 1px solid pink;*/
}

img.ningxia {
  height: 21rem;
  width: 20rem;
  margin-top: .5rem;
  /*border: 1px solid pink;*/
}

img.kidscents {
  height: 27rem;
  width: 9.6rem;
  margin-top: .5rem;
  /*border: 1px solid pink;*/
}

img.cool-azul {
  height: 27rem;
  width: 13.9rem;
  margin-top: .5rem;
  /*border: 1px solid pink;*/
}

img.orange-blossom {
  height: 27rem;
  width: 8.9rem;
  margin-top: .5rem;
  /*border: 1px solid pink;*/
}

img.shutran {
  height: 27rem;
  width: 13.16rem;
  margin-top: .5rem;
  /*border: 1px solid pink;*/
}

img.copaiba {
  height: 27rem;
  width: 9.4rem;
  margin-top: .5rem;
  /*border: 1px solid pink;*/
}

img.lav-hand {
  height: 27rem;
  width: 12.27rem;
  margin-top: .5rem;
  /*border: 1px solid pink;*/
}



/*colors - for the home - products*******/

/*immupro**********/

div.immupro span.members {
  border: 1px solid #AA9E3F;
  color: #AA9E3F;
}



div.immupro span.price {
  background-color: #AA9E3F;
  color: #fff;
}



div.immupro a.purchase {
  border: 1px solid #AA9E3F;
  color: #AA9E3F;
}




div.immupro a.purchase:hover {
  background-color: #AA9E3F;
  color: #fff;
}



div.immupro h1 {
  color: #AA9E3F;
}


/*ningxia*********/

div.ningxia span.members {
  border: 1px solid #862939;
  color: #862939;
}

div.ningxia span.price {
  background-color: #862939;
  color: #fff;
}

div.ningxia a.purchase {
  border: 1px solid #862939;
  color: #862939;
}

div.ningxia a.purchase:hover {
  background-color: #862939;
  color: #fff;
}

div.ningxia h1 {
  color: #862939;
}

/*kidscents*********/

div.kidscents span.members {
  border: 1px solid #7DC475;
  color: #7DC475;
}

div.kidscents span.price {
  background-color: #7DC475;
  color: #fff;
}

div.kidscents a.purchase {
  border: 1px solid #7DC475;
  color: #7DC475;
}

div.kidscents a.purchase:hover {
  background-color: #7DC475;
  color: #fff;
}

div.kidscents h1 {
  color: #7DC475;
}

/*cool-azul*********/

div.cool-azul span.members {
  border: 1px solid #008FF0;
  color: #008FF0;
}

div.cool-azul span.price {
  background-color: #008FF0;
  color: #fff;
}

div.cool-azul a.purchase {
  border: 1px solid #008FF0;
  color: #008FF0;
}

div.cool-azul a.purchase:hover {
  background-color: #008FF0;
  color: #fff;
}

div.cool-azul h1 {
  color: #008FF0;
}

/*orange-blossom*********/

div.orange-blossom span.members {
  border: 1px solid #E18C53;
  color: #E18C53;
}

div.orange-blossom span.price {
  background-color: #E18C53;
  color: #fff;
}

div.orange-blossom a.purchase {
  border: 1px solid #E18C53;
  color: #E18C53;
}

div.orange-blossom a.purchase:hover {
  background-color: #E18C53;
  color: #fff;
}

div.orange-blossom h1 {
  color: #E18C53;
}

/*shutran*********/

div.shutran span.members {
  border: 1px solid #3C298E;
  color: #3C298E;
}

div.shutran span.price {
  background-color: #3C298E;
  color: #fff;
}

div.shutran a.purchase {
  border: 1px solid #3C298E;
  color: #3C298E;
}

div.shutran a.purchase:hover {
  background-color: #3C298E;
  color: #fff;
}

div.shutran h1 {
  color: #3C298E;
}

/*copaiba*********/

div.copaiba span.members {
  border: 1px solid #8FC18A;
  color: #8FC18A;
}

div.copaiba span.price {
  background-color: #8FC18A;
  color: #fff;
}

div.copaiba a.purchase {
  border: 1px solid #8FC18A;
  color: #8FC18A;
}

div.copaiba a.purchase:hover {
  background-color: #8FC18A;
  color: #fff;
}

div.copaiba h1 {
  color: #8FC18A;
}

/*lav-hand*********/

div.lav-hand span.members {
  border: 1px solid #8386BB;
  color: #8386BB;
}

div.lav-hand span.price {
  background-color: #8386BB;
  color: #fff;
}

div.lav-hand a.purchase {
  border: 1px solid #8386BB;
  color: #8386BB;
}

div.lav-hand a.purchase:hover {
  background-color: #8386BB;
  color: #fff;
}

div.lav-hand h1 {
  color: #8386BB;
}


/*Catalogs*/

section.catalogs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  /*margin-top: 7rem;*/
  /*margin-left: 18.5rem;*/
  /*margin-right: 5rem;*/
  padding: 11rem 5rem 4rem 23.5rem;
  /*border: 1px solid black;*/
  /*padding-top: 4rem;*/
  width: 100%;
  /*width: calc(99% - 18rem);*/
}

h1.product-catalogs {
  font-family: 'Lato',sans-serif;
  margin-bottom: 2rem;
  font-size: 3rem;
  text-align: center;
  width: 100%;
}

div.catalog-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0 5rem;
  margin-top: 6rem;
  width: 100%;
}

h1.embeds {
  font-size: 3rem;
  color: rgba(198, 54, 44, .8);
  font-family: garamond, serif;
  /*font-weight: bold;*/
  text-shadow: 1px 1px 2px #999;
  margin: 4rem 0 3rem 0;
  width: 100%;
  height: 6rem;
  text-align: center;
}

div.yl-catalog {
  /*min-width: 32rem;
  min-height: 25rem;
  max-width: 62rem;
  max-height: 45rem;*/
  width: 75%;
  height: 70vh;
}

iframe.catalog {
  width: 100%;
  height: 100%;
}


/*back-to-top button*/

.bottomMenu {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1rem;
  right: 3rem;
  width: 3rem;
  height: 3rem;
  box-shadow: 0 2px #b3b3b3;
  border-radius: 100%;
  background: #ccc;
  z-index: 1;
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 1s;
}
.hide {
  opacity: 0;
  /*display: none;*/
  /*left: -100%;*/
}
.show {
  opacity: 1;
  /*left: 0;*/
}
