

html {
  font-family: "Lato", sans-serif;
  /*font-size: calc(9.5px + .34vw);*/
  font-size: calc(9.5px + .272vw);
}

section.atf {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    background-image: url("photos/YL-HOME-2048x1240.jpg");
    /*background-image: url("photos/YL-HOME-1024x620.jpg");*/
    background-size: cover;
    background-position: center;
}

header.logo{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  position: fixed;
  top: 1rem;
  /*right: 1rem;*/
  /*border: 1px solid pink;*/
  width: 100%;
  height: 8rem;
}

div.social {
  /*width: 10rem;*/
  display: flex;
  flex-flow: row nowrap;
  /*justify-content: space-between;*/
  justify-content: flex-end;
  color: rgba(198, 54, 44, .9);
  /*border: 1px solid pink;*/
  /*height: 4rem;*/
}

a.social:hover {
  color: rgba(250, 59, 46, 0.9);
}

a.social {
  display: block;
  font-size: 2.5rem;
  margin: .5rem 1.5rem 0 0;
}

h1.logo {
  display: flex;
  justify-content: center;
  font-family: 'Allura', 'Garamond', cursive;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: rgba(198, 54, 44, 1);
  padding: .5rem 2rem;
  margin-right: 2rem;
  cursor: default;
  /*border: 1px solid hotpink;*/
}

figure.YL{
  background-image: url("photos/YL-greyscale.png");
  background-size: cover;
  background-position: center;
  position: fixed;
  bottom: 2rem;
  /*top: 4rem;*/
  right: 2rem;
  /*border: 1px solid hotpink;*/
  width: 16rem;
  height: 7.5rem;
  opacity: .80;
}



div.intro {
  position: relative;
  display: flex;
  flex-flow: column;
  top: 40%;
  left: 5rem;
  /*border: 1px solid hotpink;*/
  width: 24rem;
  background-color: rgba(198, 54, 44, .90);
  color: rgba(255, 255, 255, 1);
  border-radius: .3rem;
  padding: 1.5rem 1.5rem;
  /*color: rgb(153, 59, 31);*/
}

div.intro > h1 {
  /*width: 90%;*/
  font-family: 'Garamond', serif;
  font-size: 1.7rem;
  margin-bottom: .8rem;
  /*border-bottom: 1px solid white;*/

  /*font-weight: bold;*/
}

div.intro h1:first-child {
  font-size: 2.3rem;
  /*font-weight: bold;*/
}

div.intro h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.15rem;
  margin-bottom: .8rem;
}

div.intro label.welcome {
  display: inline-block;
  box-sizing: border-box;
  padding: .65rem 1.25rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  color: rgba(198, 54, 44, 1);
  /*color: white;*/
  cursor: pointer;
  width: 50%;
  background-color: white;
  border-radius: .15rem;
  margin: 0 .5rem;
  align-self: center;
}

div.intro label.welcome:hover {
  color: rgba(250, 59, 46, 0.9);
  background-color: #EDEAE3;
}

h1 > span {
  display: inline-block;
  font-family: 'Allura', 'Garamond', cursive;
  font-size: 2.2rem;
  color: white;
}

a.main {
  text-decoration: none;
  color: inherit;
  padding: 1.5rem 1rem 0 1rem;
}

a.main:hover {
  /*text-decoration: underline;*/
  color: #E35743;
}

nav.main {
  position: fixed;
  top: 0;
  left: 1rem;
  display: flex;
  justify-content: flex-start;
  height: 4rem;
  z-index: 3;
  width: 10rem;
}

nav.main > label.menu {
  cursor: pointer;
  font-size: 1.75rem;
  /*position: relative;*/
  display: flex;
  flex-wrap: nowrap;
  /*top: 0;*/
  /*left: 0;*/
  z-index: 3;
  /*margin: 1rem 1rem;*/
  font-family: 'Lato', sans-serif;
  padding: 1.5rem 1rem 0 1rem;
  color: rgba(198, 54, 44, 1);
  font-weight: bold;
  font-size: 1.4rem;
  width: 10rem;
  /*border: 1px solid pink;*/
}


label.menu > svg.navicon {
  /*border: 1px solid pink;*/
  display: block;
  z-index: 3;
  width: 1.2rem;
  height: 1.2rem;
  fill: rgb(198, 54, 44,);
  margin-right: .3rem;
  /*padding: 1.5rem 1rem 0 1rem;*/
  /*color: black;*/
}

label.menu:hover {
  color: rgba(250, 59, 46, 0.9);
}

div.fb {
  position: fixed;
  /*width: 6rem;*/
  /*height: 6rem;*/
  /*border: 2px solid pink;*/
  left: 2rem;
  bottom: 2rem;
}

/*phone*/
@media screen and (max-width: 1100px) {

  header.logo {
    width: 100%;
    top: .5rem;
  }

  div.spacer {
    width: 25%;
  }

  h1.logo {
    display: flex;
    justify-content: center;
    width: 50%;
    font-size: 2.5rem;
    /*border: 1px solid pink;*/
  }

  div.social {
    /*justify-content: center;*/
    padding-right: .5rem;
    width: 25%;
  }

  a.social {
    margin: 0 1.5rem 0 0;
    font-size: 2.7rem;
  }

  section.atf {
      background-image: url("photos/YL-HOME-1024x620.jpg");
  }

  figure.YL{
    bottom: 1rem;
    right: 25%;
  }

  div.intro {
    top: 28%;
    left: 1rem;
    /*border: 1px solid hotpink;*/
    width: 21rem;
  }

  div.intro label.welcome {
    width: 80%;
  }

  nav.main {
    left: .5rem;
  }

  nav.main > label.menu {
    padding: 1.5rem 1rem 0 .5rem;
    font-size: 1.7rem;
  }

  label.menu>svg.navicon {
    width: 1.5rem;
    height: 1.5rem;
  }

  h1.logo {
  font-size: 2.65rem;
}

}
