html {
  font-family: "Lato", sans-serif;
}

section.instrux {
  border: 1px solid black;
}

.head {
  /*position: fixed;*/
  height: 20rem;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid pink;
}

h1.logo {
  display: inline-block;
  width: 15%;
  border: 1px solid pink;
}
